:root {
  --pixel-size: 4;
  --anim-num: 9;
}

.Character {
  width: calc(78px * var(--pixel-size));
  height: calc(54px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin-bottom: 2px;
  padding-left: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

.reverse-character {
  transform: scaleX(-1);
}

.Character_spritesheet {
  animation: moveSpritesheet 1.2s steps(var(--anim-num)) forwards infinite;
  height: calc(216 * var(--pixel-size));
  width: calc(780px * var(--pixel-size));
  position: absolute;
  pointer-events: none;
}

.pixelart {
  image-rendering: pixelated;
  transform: scale(-1);
}

.sm-anim-attack {
  top: 0px;
  --anim-num: 10;
}

.sm-anim-victory {
  --anim-num: 9;
  top: calc(-54px * var(--pixel-size));
}

.sm-anim-idle {
  --anim-num: 6;
  top: calc(-54px * 2 * var(--pixel-size));
}

.sm-anim-defeat {
  --anim-num: 8;
  top: calc(-54px * 3 * var(--pixel-size));
}

.hold-last-frame {
  animation: moveSpritesheetHoldLastFrame 1.2s steps(calc(var(--anim-num) - 1))
    forwards;
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(calc((var(--anim-num) * -10%)), 0, 0);
  }
}

@keyframes moveSpritesheetHoldLastFrame {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(calc(((var(--anim-num) - 1) * -10%)), 0, 0);
  }
}
