body,
html {
  margin: 0px;
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--font-family);
  user-select: none;
}

.hidden {
  display: none !important;
}

.layout-full {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
}

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.home__title {
  text-align: center;
  color:white;
  font-size: 70px;
  z-index: 1;
}

.home__classic-btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  z-index: 2;
  margin-right: 600px;
  padding: 20px;
  height: 250px;
  width: 400px;
  background: rgba(192, 249, 255, 0.625);
  text-align: center;
  font-size: 25px;
  border-radius: 35px;
}

.home__difficult-btn {
  cursor: pointer;
  all: unset;
  display: inline-block;
  position: absolute;
  bottom: 36px;
  z-index: 3;
  margin-left: 600px;
  padding: 20px;
  height: 250px;
  width: 450px;
  background: rgba(254, 255, 192, 0.625);
  text-align: center;
  align-self: center;
  font-size: 25px;
  border-radius: 35px;
}

.home > button:hover {
  background-color: rgba(210, 152, 254, 0.736);
  color: white;
  transition-timing-function: ease-in-out;
  transition: 500ms;
}

.home__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.board__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.board {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 9999;
}

.board__gameplay {
  flex: 5;
  /* background-color: rgba(0, 0, 139, 0.228); */
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.board__header-wrapper {
  position: absolute;
  top: 64px;
}

.board__title {
  font-size: 70px;
  color: var(--font-color);
  margin: 0px;
  margin-bottom: 24px;
}

.board__subtitle {
  font-size: 30px;
  color: var(--font-color);
  margin: 0px;
}

.board__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.board__icon-wrapper {
  all: unset;
  font-size: 175px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
}

.board__user-selection-icon {
  font-size: 50px;
  position: absolute;
  bottom: -25px;
}

.board__players-side {
  background-color: rgba(102, 0, 139, 0.324);
  flex: 1;
  min-width: 100px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
}

.board__players-icon {
  font-size: 60px;
}

.board__players-text {
  font-size: 30px;
  color: var(--font-color);
  margin-bottom: 24px;
}

.board__wins {
  font-size: 25px;
  color: var(--font-color);
}

.board__change-btn {
  all: unset;
  cursor: pointer;
  background-color: #631fea39;
  color: var(--font-color);
  font-size: 20px;
  width: 160px;
  padding: 18px;
  position: absolute;
  bottom: 24px;
  border-radius: 20px;
}

.board__players-side > button:hover {
  background-color: rgba(80, 255, 252, 0.51);
  color: white;
  transition-timing-function: ease-in-out;
  transition: 500ms;
}
