body,
html {
  margin: 0px;
}

.board {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.board__center {
  flex: 3;
  background-color: hotpink;
  text-align: center;
}

.board__center__title {
  font-family: 'PowerpuffFont', serif;
  font-size: 70px;
  margin-bottom: -10px;
}

.board__center_text {
  font-family: 'PowerpuffFont', serif;
  font-size: 30px;
}

.board__side {
  flex: 1;
  text-align: center;
  background-color: red;
}

.board__side__players-text {
  font-family: 'PowerpuffFont', serif;
  font-size: 30px;
}

.board__side__icon {
  font-size: 60px;
  margin-bottom: -30px;
}
